[submodule "native-libs/libfreenect"]
	path = native-libs/libfreenect
	url = https://github.com/OpenKinect/libfreenect.git
[submodule "native-libs/libusbx"]
	path = native-libs/libusbx
	url = https://github.com/libusbx/libusbx.git
